PORT=5000

DB_HOST=127.0.0.1
DB_USER=root
DB_PASSWORD=
DB_NAME=hair_connect

JWT_SECRET=ganti-dengan-secret-kuat
JWT_REFRESH_SECRET=ganti-dengan-secret-kuat

FONNTE_TOKEN=<token-fonnte-anda>

CLIENT_URL=http://localhost:5173